.columnHeaders{
    padding: 20px 20px 0px 60px;
}

.EventCard{
    display: flex;
    width: 100%;
    padding: 20px;
}

.EventDate{
    width: 30%;
}

.EventTitleOrg{
    width: 35%;
}

.EventLocation{
    width: 20%;

}

.EventDetails{
    width: 15%;
}

.EventTitle{
    font-size: 25px;
    font-weight: 300;
}

.EventDetails{
    font-size: medium;
    font-weight: 300;
}

.EventsContainer {
    margin: 0px 25px 25px 25px;
    padding: 0px 15px 15px 15px;
}

.columnHeaders{
    display: flex;
    color: #3f3f3f;
}

h2, h1 {
    font-weight: 400;
    letter-spacing: 2px;
}

.EventDateDay{
    font-size: 35px;
    font-weight: 700;
    color: #3f3f3f;
}

.EventsMain {
    padding: 0 10vh;
}

h1 {
    text-align: center;
    color: #3f3f3f;
}
